@mixin rest-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin base-button($bg-color: $main-color) {
  padding: 8px 20px;
  border-radius: 10px;
  min-width: 150px;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  color: $background-color;
  text-align: center;
  background-color: $bg-color;
  cursor: pointer;
  &:hover {
    background-color: $blue-color;
  }
}