*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --bg-color: #{$background-color};
  --text-color: #{$main-color};
  --gray-color: #{$gray-color};
  --blue-color: #{$blue-color};
}
html, body {
  font-family:
    Montserrat,
    serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  background-color: var(--bg-color);
  color: var(--text-color);
}
a {
  text-decoration: none;
}
.wrapper {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}